.forgot-password-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.forgot-password-forgot-password {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(247, 249, 251, 1);
}
.forgot-password-rectangle1 {
  top: 198px;
  left: 389px;
  width: 662px;
  height: 649px;
  position: absolute;
  box-sizing: content-box;
  border-radius: 30px;
}
.forgot-password-inputlabels {
  top: 453px;
  left: 478px;
  width: 73px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.forgot-password-text1 {
  color: rgba(0, 0, 0, 0.5);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.forgot-password-loginbtn {
  top: 673.4021606445312px;
  left: 455.20001220703125px;
  width: 532.2838134765625px;
  height: 66.69203186035156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(2, 117, 177, 1);
}
.forgot-password-text2 {
  top: 17.59783935546875px;
  left: 226.79998779296875px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.forgot-password-inputboxes {
  top: 435px;
  left: 459px;
  width: 532.2838134765625px;
  height: 59.529998779296875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 0);
}
.forgot-password-teacher-loginmain {
  top: 267px;
  left: 448px;
  width: 591px;
  height: 99px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.forgot-password-text3 {
  top: 75px;
  left: 150px;
  color: rgba(0, 0, 0, 1);
  width: 267px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.forgot-password-text4 {
  color: rgba(2, 117, 177, 1);
  width: 591px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.forgot-password-teachers-cabal-logog1 {
  top: 46px;
  left: 631px;
  width: 178px;
  height: 84px;
  position: absolute;
}
.forgot-password-footer {
  top: 753px;
  left: 691px;
  width: 68px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.forgot-password-text5 {
  color: rgba(2, 117, 177, 1);
  width: 68px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.forgot-password-line4 {
  top: 26px;
  left: 43.40425491333008px;
  width: 14px;
  height: 1px;
  position: absolute;
}
