.help-teachers-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.help-teachers-help-teachers {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.help-teachers-depth0-frame0 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(247, 249, 252, 1);
}
.help-teachers-depth1-frame0 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-depth2-frame0 {
  gap: 4px;
  display: flex;
  padding: 20px 24px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.help-teachers-depth3-frame0 {
  width: 320px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.help-teachers-frames {
  height: 765px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(247, 249, 249, 1);
}
.help-teachers-framelevel2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-rectangle {
  width: 42px;
  height: 42px;
  border-radius: 26px;
}
.help-teachers-depth6-frame01 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-depth7-frame01 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-text10 {
  color: rgba(24, 24, 24, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth7-frame11 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-text11 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth6-frame11 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-depth7-frame02 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.help-teachers-depth8-frame01 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-text12 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth7-frame12 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.help-teachers-depth8-frame02 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-text13 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth7-frame3 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.help-teachers-depth8-frame03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-text14 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth7-frame4 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.help-teachers-depth8-frame04 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-text15 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth7-frame6 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(232, 237, 242, 1);
}
.help-teachers-depth8-frame05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-text16 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth6-frame02 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.help-teachers-depth7-frame03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-depth8-frame06 {
  width: 24px;
  height: 24px;
  flex-grow: 1;
}
.help-teachers-depth7-frame13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-text17 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth3-frame1 {
  width: 960px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.help-teachers-depth4-frame0 {
  gap: 12px;
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.help-teachers-depth5-frame01 {
  width: 288px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.help-teachers-text18 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth4-frame1 {
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-depth5-frame02 {
  height: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.help-teachers-depth6-frame03 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 12px;
}
.help-teachers-depth7-frame04 {
  display: flex;
  padding: 0 0 0 16px;
  align-self: stretch;
  align-items: center;
  border-radius: 12px 0 0 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.help-teachers-depth8-frame07 {
  width: 24px;
  height: 24px;
  flex-grow: 1;
}
.help-teachers-depth7-frame14 {
  display: flex;
  padding: 8px 16px 8px 8px;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-radius: 0 12px 12px 0;
  background-color: rgba(232, 237, 242, 1);
}
.help-teachers-text19 {
  color: rgba(79, 114, 150, 1);
  width: 350px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth4-frame2 {
  display: flex;
  padding: 16px 16px 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-text20 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 23px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth4-frame3 {
  gap: 16px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);
}
.help-teachers-depth5-frame03 {
  width: 928px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.help-teachers-text21 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth4-frame4 {
  gap: 16px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);
}
.help-teachers-depth5-frame04 {
  width: 928px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.help-teachers-text22 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth4-frame5 {
  gap: 16px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);
}
.help-teachers-depth5-frame05 {
  width: 928px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.help-teachers-text23 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth4-frame6 {
  gap: 16px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);
}
.help-teachers-depth5-frame06 {
  width: 928px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.help-teachers-text24 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth4-frame7 {
  display: flex;
  padding: 16px 16px 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-text25 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 23px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth4-frame8 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);
}
.help-teachers-depth5-frame07 {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.help-teachers-depth6-frame04 {
  width: 24px;
  height: 24px;
}
.help-teachers-depth5-frame11 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.help-teachers-depth6-frame05 {
  width: 654px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.help-teachers-text26 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth6-frame12 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-text27 {
  color: rgba(79, 114, 150, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth4-frame9 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);
}
.help-teachers-depth5-frame08 {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.help-teachers-depth6-frame06 {
  width: 24px;
  height: 24px;
}
.help-teachers-depth5-frame12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.help-teachers-depth6-frame07 {
  width: 654px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.help-teachers-text28 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth6-frame13 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-text29 {
  color: rgba(79, 114, 150, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth4-frame10 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);
}
.help-teachers-depth5-frame09 {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.help-teachers-depth6-frame08 {
  width: 24px;
  height: 24px;
}
.help-teachers-depth5-frame13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.help-teachers-depth6-frame09 {
  width: 358px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.help-teachers-text30 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.help-teachers-depth6-frame14 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.help-teachers-text31 {
  color: rgba(79, 114, 150, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
