.landing-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landing-page-landing-page {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.landing-page-depth0-frame0 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.landing-page-depth1-frame0 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth2-frame0 {
  display: flex;
  padding: 12px 40px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(229, 232, 234, 1);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
}
.landing-page-teachers-cabal-logog1 {
  width: 210px;
  height: 90px;
}
.landing-page-depth3-frame1 {
  gap: 32px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.landing-page-depth4-frame01 {
  gap: 36px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-depth5-frame01 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text10 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth5-frame11 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text11 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth5-frame2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text12 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth5-frame3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text13 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth4-frame11 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.landing-page-depth5-frame02 {
  width: 84px;
  height: 40px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(28, 130, 196, 1);
}
.landing-page-depth6-frame01 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.landing-page-text14 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Lexend;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth5-frame12 {
  height: 40px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(239, 242, 244, 1);
}
.landing-page-depth6-frame02 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.landing-page-text15 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Lexend;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth2-frame1 {
  display: flex;
  padding: 20px 50px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.landing-page-depth3-frame0 {
  width: 1120px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.landing-page-depth4-frame02 {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  width: 100%; /* Full width */
}

.landing-page-landing {
  width: 100%; /* Full width of parent */
  max-width: 1320px; /* Restrict maximum width */
  height: 480px; /* Fixed height */
  position: relative; /* Establish context for absolute positioning */
  overflow: hidden; /* Clips overflowing content */
  border-radius: 30px;
}
.landing-page-img {
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  width: 100%;
  height: 100%;
}
.landing-page-school3 {
  width: 100%; /* Fill the container horizontally */
  height: 100%; /* Fill the container vertically */
  object-fit: cover; /* Ensures image fills the container without stretching */
  object-position: center; /* Centers the image */
  border-radius: 30px; /* Keeps the rounded corners */
}
.landing-page-rectangle10 {
  top: 0px;
  left: 0px;
  width: 1080px;
  height: 480px;
  position: absolute;
  border-radius: 30px;
}
.landing-page-text16 {
  z-index: 3;
  top: 264px;
  left: 39px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Bold;
  text-align: center;
  font-family: Walrus;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text17 {
  z-index: 3;
  top: 309px;
  left: 39px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Lexend;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-rectangle8 {
  top: 370px;
  left: 39px;
  width: 542px;
  height: 65px;
  position: absolute;
  border-radius: 10px;
}
.landing-page-text18 {
  z-index: 3;
  top: 390px;
  left: 102px;
  color: rgba(163, 156, 156, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Lexend;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-vector0 {
  top: 390px;
  left: 58px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.landing-page-rectangle9 {
  top: 382px;
  left: 461px;
  width: 96px;
  height: 40px;
  position: absolute;
  border-radius: 10px;
}
.landing-page-text19 {
  z-index: 3;
  top: 390px;
  left: 479px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Lexend;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth4-frame12 {
  gap: 40px;
  display: flex;
  padding: 40px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth5-frame03 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth6-frame03 {
  width: 720px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.landing-page-text20 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 36px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: Lexend;
  font-weight: 900;
  line-height: 45px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth6-frame11 {
  width: 720px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.landing-page-text21 {
  color: rgba(17, 20, 22, 1);
  width: 1320px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth4-frame2 {
  gap: 40px;
  display: flex;
  padding: 40px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth5-frame04 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth6-frame04 {
  width: 720px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.landing-page-text22 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 36px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: Lexend;
  font-weight: 900;
  line-height: 45px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth6-frame12 {
  width: 720px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.landing-page-text23 {
  color: rgba(17, 20, 22, 1);
  width: 1320px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth5-frame13 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth6-frame05 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.landing-page-depth7-frame01 {
  gap: 12px;
  width: 208px;
  display: flex;
  padding: 16px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(219, 224, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.landing-page-depth8-frame01 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth9-frame010 {
  width: 24px;
  height: 24px;
  flex-grow: 1;
}
.landing-page-depth8-frame11 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth9-frame011 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text24 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Lexend;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth9-frame11 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text25 {
  color: rgba(99, 119, 135, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth7-frame11 {
  gap: 12px;
  width: 208px;
  display: flex;
  padding: 16px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(219, 224, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.landing-page-depth8-frame02 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth9-frame012 {
  width: 24px;
  height: 24px;
  flex-grow: 1;
}
.landing-page-depth8-frame12 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth9-frame013 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text26 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Lexend;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth9-frame12 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text27 {
  color: rgba(99, 119, 135, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth7-frame2 {
  gap: 12px;
  width: 208px;
  display: flex;
  padding: 16px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(219, 224, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.landing-page-depth8-frame03 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth9-frame014 {
  width: 24px;
  height: 24px;
  flex-grow: 1;
}
.landing-page-depth8-frame13 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth9-frame015 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text28 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Lexend;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth9-frame13 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text29 {
  color: rgba(99, 119, 135, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth7-frame3 {
  gap: 12px;
  width: 208px;
  display: flex;
  padding: 16px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(219, 224, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.landing-page-depth8-frame04 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth9-frame016 {
  width: 24px;
  height: 24px;
  flex-grow: 1;
}
.landing-page-depth8-frame14 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth9-frame017 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text30 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Lexend;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth9-frame14 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text31 {
  color: rgba(99, 119, 135, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth7-frame4 {
  gap: 12px;
  width: 208px;
  display: flex;
  padding: 16px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(219, 224, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.landing-page-depth8-frame05 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth9-frame018 {
  width: 24px;
  height: 24px;
  flex-grow: 1;
}
.landing-page-depth8-frame15 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth9-frame019 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text32 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Lexend;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth9-frame15 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text33 {
  color: rgba(99, 119, 135, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth6-frame13 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.landing-page-depth7-frame02 {
  gap: 12px;
  width: 176px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(219, 224, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.landing-page-depth8-frame06 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth9-frame020 {
  width: 24px;
  height: 24px;
  flex-grow: 1;
}
.landing-page-depth8-frame16 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth9-frame021 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text34 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Lexend;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth9-frame16 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text35 {
  color: rgba(99, 119, 135, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-depth4-frame3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth5-frame05 {
  gap: 32px;
  display: flex;
  padding: 80px 40px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.landing-page-depth6-frame06 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-depth7-frame12 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.landing-page-text36 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 64px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Walrus;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text37 {
  font-weight: 700;
}
.landing-page-depth6-frame14 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.landing-page-depth7-frame03 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.landing-page-depth8-frame07 {
  height: 48px;
  display: flex;
  padding: 0 20px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(28, 130, 196, 1);
}
.landing-page-depth9-frame022 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.landing-page-text41 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Lexend;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
