.schooldashboard-applicants-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.schooldashboard-applicants-schooldashboard-applicants {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.schooldashboard-applicants-depth0-frame0 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(247, 249, 252, 1);
}
.schooldashboard-applicants-depth1-frame0 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.schooldashboard-applicants-depth2-frame0 {
  gap: 4px;
  display: flex;
  padding: 20px 24px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.schooldashboard-applicants-depth3-frame01 {
  width: 320px;
  height: 879px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-depth3-frame02 {
  width: 320px;
  height: 879px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-depth5-frame01 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.schooldashboard-applicants-depth6-frame010 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 28px;
  background-size: cover;
  background-image: url("/external/tq_0hid7o_48q-9ucp-200w.png");
}
.schooldashboard-applicants-depth6-frame11 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-depth7-frame01 {
  width: 256px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-text10 {
  color: rgba(12, 20, 28, 1);
  width: 220px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth7-frame11 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.schooldashboard-applicants-depth4-frame01 {
  gap: 500px;
  height: 600px;
  display: flex;
  padding: 16px 16px 1px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(247, 249, 249, 1);
}
.schooldashboard-applicants-depth5-frame02 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.schooldashboard-applicants-depth6-frame011 {
  gap: 8px;
  height: 172px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-depth7-frame2 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.schooldashboard-applicants-depth8-frame01 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.schooldashboard-applicants-text13 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth7-frame12 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(232, 237, 242, 1);
}
.schooldashboard-applicants-depth8-frame02 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.schooldashboard-applicants-text14 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth7-frame4 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.schooldashboard-applicants-depth8-frame03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.schooldashboard-applicants-text15 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth7-frame5 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.schooldashboard-applicants-depth8-frame04 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.schooldashboard-applicants-text16 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth7-frame3 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.schooldashboard-applicants-depth8-frame05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.schooldashboard-applicants-text17 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth5-frame11 {
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(25, 91, 229, 1);
}
.schooldashboard-applicants-depth6-frame012 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.schooldashboard-applicants-text18 {
  color: rgba(247, 249, 252, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Lexend;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth6-frame013 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.schooldashboard-applicants-depth7-frame02 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.schooldashboard-applicants-depth8-frame06 {
  width: 24px;
  height: 24px;
  flex-grow: 1;
}
.schooldashboard-applicants-depth7-frame13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.schooldashboard-applicants-text19 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth3-frame1 {
  width: 960px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-depth4-frame02 {
  gap: 12px;
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.schooldashboard-applicants-depth5-frame03 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.schooldashboard-applicants-depth6-frame014 {
  width: 317px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-text20 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Lexend;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth6-frame12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.schooldashboard-applicants-text21 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth4-frame1 {
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.schooldashboard-applicants-depth5-frame04 {
  height: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-depth6-frame015 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 12px;
}
.schooldashboard-applicants-depth7-frame03 {
  display: flex;
  padding: 0 0 0 16px;
  align-self: stretch;
  align-items: center;
  border-radius: 12px 0 0 12px;
  justify-content: center;
  background-color: rgba(232, 234, 242, 1);
}
.schooldashboard-applicants-depth8-frame07 {
  width: 24px;
  height: 24px;
  flex-grow: 1;
}
.schooldashboard-applicants-depth7-frame14 {
  display: flex;
  padding: 8px 16px 8px 8px;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-radius: 0 12px 12px 0;
  background-color: rgba(232, 234, 242, 1);
}
.schooldashboard-applicants-text22 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth4-frame2 {
  gap: 12px;
  display: flex;
  padding: 12px 16px 12px 12px;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.schooldashboard-applicants-depth5-frame05 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 234, 242, 1);
}
.schooldashboard-applicants-depth6-frame016 {
  width: 54px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-text23 {
  color: rgba(12, 17, 28, 1);
  width: 68px;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth5-frame12 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 234, 242, 1);
}
.schooldashboard-applicants-depth6-frame017 {
  width: 67px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-text24 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth5-frame2 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 234, 242, 1);
}
.schooldashboard-applicants-depth6-frame018 {
  width: 84px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-text25 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth4-frame3 {
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.schooldashboard-applicants-depth5-frame06 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(209, 214, 232, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  background-color: rgba(247, 249, 252, 1);
}
.schooldashboard-applicants-depth6-frame019 {
  width: 926px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-depth7-frame04 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.schooldashboard-applicants-depth8-frame08 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  background-color: rgba(247, 249, 252, 1);
}
.schooldashboard-applicants-depth9-frame01 {
  height: 46px;
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-text26 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame11 {
  height: 46px;
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-text27 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame21 {
  height: 46px;
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-text28 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame31 {
  height: 46px;
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-text29 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame41 {
  height: 46px;
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-text30 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame51 {
  height: 46px;
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-text31 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame61 {
  height: 46px;
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.schooldashboard-applicants-depth7-frame15 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.schooldashboard-applicants-depth8-frame09 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 232, 234, 1);
  border-style: solid;
  border-width: 1px 0 0;
}
.schooldashboard-applicants-depth9-frame02 {
  width: 110px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text32 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame12 {
  width: 92px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text33 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame22 {
  width: 299px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text34 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame32 {
  width: 132px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-depth10-frame01 {
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 234, 242, 1);
}
.schooldashboard-applicants-depth11-frame01 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.schooldashboard-applicants-text35 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame42 {
  width: 101px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text36 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame52 {
  width: 85px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text37 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame62 {
  width: 80px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text38 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Lexend;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth8-frame1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 232, 234, 1);
  border-style: solid;
  border-width: 1px 0 0;
}
.schooldashboard-applicants-depth9-frame03 {
  width: 110px;
  height: 101px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text39 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame13 {
  width: 92px;
  height: 101px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text40 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame23 {
  width: 299px;
  height: 101px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text41 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame33 {
  width: 132px;
  height: 101px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-depth10-frame02 {
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 234, 242, 1);
}
.schooldashboard-applicants-depth11-frame02 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.schooldashboard-applicants-text42 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame43 {
  width: 101px;
  height: 101px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text43 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame53 {
  width: 85px;
  height: 101px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text44 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame63 {
  width: 80px;
  height: 101px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text45 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Lexend;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth8-frame2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 232, 234, 1);
  border-style: solid;
  border-width: 1px 0 0;
}
.schooldashboard-applicants-depth9-frame04 {
  width: 110px;
  height: 101px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text46 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame14 {
  width: 92px;
  height: 101px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text47 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame24 {
  width: 299px;
  height: 101px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text48 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame34 {
  width: 132px;
  height: 101px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-depth10-frame03 {
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 234, 242, 1);
}
.schooldashboard-applicants-depth11-frame03 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.schooldashboard-applicants-text49 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame44 {
  width: 101px;
  height: 101px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text50 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame54 {
  width: 85px;
  height: 101px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text51 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame64 {
  width: 80px;
  height: 101px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text52 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Lexend;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth8-frame3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 232, 234, 1);
  border-style: solid;
  border-width: 1px 0 0;
}
.schooldashboard-applicants-depth9-frame05 {
  width: 110px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text53 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame15 {
  width: 92px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text54 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame25 {
  width: 299px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text55 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame35 {
  width: 132px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-depth10-frame04 {
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 234, 242, 1);
}
.schooldashboard-applicants-depth11-frame04 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.schooldashboard-applicants-text56 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame45 {
  width: 101px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text57 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame55 {
  width: 85px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text58 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame65 {
  width: 80px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text59 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Lexend;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth8-frame4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 232, 234, 1);
  border-style: solid;
  border-width: 1px 0 0;
}
.schooldashboard-applicants-depth9-frame06 {
  width: 110px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text60 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame16 {
  width: 92px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text61 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame26 {
  width: 299px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text62 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame36 {
  width: 132px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-depth10-frame05 {
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 234, 242, 1);
}
.schooldashboard-applicants-depth11-frame05 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.schooldashboard-applicants-text63 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame46 {
  width: 101px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text64 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame56 {
  width: 85px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text65 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame66 {
  width: 80px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text66 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Lexend;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth8-frame5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 232, 234, 1);
  border-style: solid;
  border-width: 1px 0 0;
}
.schooldashboard-applicants-depth9-frame07 {
  width: 110px;
  height: 72px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text67 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame17 {
  width: 92px;
  height: 72px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text68 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame27 {
  width: 299px;
  height: 72px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text69 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame37 {
  width: 132px;
  height: 72px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-depth10-frame06 {
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 234, 242, 1);
}
.schooldashboard-applicants-depth11-frame06 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.schooldashboard-applicants-text70 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame47 {
  width: 101px;
  height: 72px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text71 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame57 {
  width: 85px;
  height: 72px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text72 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame67 {
  width: 80px;
  height: 72px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text73 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Lexend;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth8-frame6 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 232, 234, 1);
  border-style: solid;
  border-width: 1px 0 0;
}
.schooldashboard-applicants-depth9-frame08 {
  width: 110px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text74 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame18 {
  width: 92px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text75 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame28 {
  width: 299px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text76 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame38 {
  width: 132px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-depth10-frame07 {
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 234, 242, 1);
}
.schooldashboard-applicants-depth11-frame07 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.schooldashboard-applicants-text77 {
  color: rgba(12, 17, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Lexend;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame48 {
  width: 101px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text78 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame58 {
  width: 85px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text79 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.schooldashboard-applicants-depth9-frame68 {
  width: 80px;
  height: 80px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.schooldashboard-applicants-text80 {
  color: rgba(79, 102, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Lexend;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
