.teacher-profile-interviews-container {
  width: 1430px;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.teacher-profile-interviews-teacher-profile-interviews {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.teacher-profile-interviews-depth0-frame0 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(247, 249, 252, 1);
}
.teacher-profile-interviews-depth1-frame0 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.slider-interview00{
  height: 550px;
  width: 700px;
  overflow-y: scroll;
  margin-top: 10px;
}
.slider-interview00 {
  scrollbar-color: blue lightgray; /* scrollbar-thumb and scrollbar-track colors */
  scrollbar-width: thin; /* Thin scrollbar */
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
.slider-interview00::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
}

.slider-interview00::-webkit-scrollbar-track {
  background: lightgray; /* Scrollbar track color */
}

.slider-interview00::-webkit-scrollbar-thumb {
  background: blue; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded scrollbar thumb */
}

.slider-interview00::-webkit-scrollbar-thumb:hover {
  background: darkblue; /* Thumb color on hover */
}

.slider-interview{
  height: 490px;
  width: 100%;
  overflow-y: scroll;
  margin-top: 10px;
}
.slider-interview {
  scrollbar-color: blue lightgray; /* scrollbar-thumb and scrollbar-track colors */
  scrollbar-width: thin; /* Thin scrollbar */
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
.slider-interview::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
}

.slider-interview::-webkit-scrollbar-track {
  background: lightgray; /* Scrollbar track color */
}

.slider-interview::-webkit-scrollbar-thumb {
  background: blue; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded scrollbar thumb */
}

.slider-interview::-webkit-scrollbar-thumb:hover {
  background: darkblue; /* Thumb color on hover */
}
.teacher-profile-interviews-depth3-frame1 {
  width: 100px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teacher-profile-interviews-depth2-frame0 {
  gap: 4px;
  display: flex;
  padding: 20px 24px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5em;
}
.teacher-profile-interviews-depth3-frame0 {
  width: 320px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboard-frames0 {
  height: 650px;
  display: flex;
  margin-right: 80px;
  margin-left: 40px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(247, 249, 249, 1);
}
.teacher-profile-interviews-framelevel2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-rectangle {
  width: 42px;
  height: 42px;
  border-radius: 26px;
}
.teacher-profile-interviews-depth6-frame01 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-depth7-frame01 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text10 {
  color: rgba(24, 24, 24, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth7-frame11 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text11 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth6-frame11 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-depth7-frame02 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.teacher-profile-interviews-depth8-frame01 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text12 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth7-frame12 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.teacher-profile-interviews-depth8-frame02 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text13 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth7-frame7 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.teacher-profile-interviews-depth8-frame03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text14 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth7-frame6 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(232, 237, 242, 1);
}
.teacher-profile-interviews-depth8-frame04 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text15 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth7-frame4 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.teacher-profile-interviews-depth8-frame05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text16 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth7-frame5 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.teacher-profile-interviews-depth8-frame06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text17 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth6-frame02 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.teacher-profile-interviews-depth7-frame03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-depth8-frame07 {
  width: 24px;
  height: 24px;
  flex-grow: 1;
}
.teacher-profile-interviews-depth7-frame13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text18 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}

.teacher-profile-interviews-depth4-frame0 {
  gap: 12px;
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.teacher-profile-interviews-depth5-frame01 {
  width: 288px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teacher-profile-interviews-text19 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth4-frame1 {
  display: flex;
  padding: 16px 16px 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text20 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 23px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth4-frame2 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);
}
.teacher-profile-interviews-depth5-frame02 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_0eehfdc0qn-9mj-200h.png");
}
.teacher-profile-interviews-depth5-frame11 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teacher-profile-interviews-depth6-frame03 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text21 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth6-frame12 {
  width: 168px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teacher-profile-interviews-text22 {
  color: rgba(79, 114, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth4-frame3 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);
}
.teacher-profile-interviews-depth5-frame03 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_bxuatc7eym-5zbl-200h.png");
}
.teacher-profile-interviews-depth5-frame12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teacher-profile-interviews-depth6-frame04 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text23 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth6-frame13 {
  width: 193px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teacher-profile-interviews-text24 {
  color: rgba(79, 114, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth4-frame4 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);
}
.teacher-profile-interviews-depth5-frame04 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_cbf9ssdw-f-hsidj-200h.png");
}
.teacher-profile-interviews-depth5-frame13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teacher-profile-interviews-depth6-frame05 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text25 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth6-frame14 {
  width: 178px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teacher-profile-interviews-text26 {
  color: rgba(79, 114, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth4-frame5 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);
}
.teacher-profile-interviews-depth5-frame05 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_jlwpzq74ks-1ohk-200h.png");
}
.teacher-profile-interviews-depth5-frame14 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teacher-profile-interviews-depth6-frame06 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text27 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth6-frame15 {
  width: 186px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teacher-profile-interviews-text28 {
  color: rgba(79, 114, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth4-frame6 {
  display: flex;
  padding: 16px 16px 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text29 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 23px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth4-frame7 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);
}
.teacher-profile-interviews-depth5-frame06 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_zsmsflkzpc-aumj-200h.png");
}
.teacher-profile-interviews-depth5-frame15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teacher-profile-interviews-depth6-frame07 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text30 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth6-frame16 {
  width: 110px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teacher-profile-interviews-text31 {
  color: rgba(79, 114, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth4-frame8 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);
}
.teacher-profile-interviews-depth5-frame07 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_1ddkqkkdcz-beq3-200h.png");
}
.teacher-profile-interviews-depth5-frame16 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teacher-profile-interviews-depth6-frame08 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text32 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth6-frame17 {
  width: 162px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teacher-profile-interviews-text33 {
  color: rgba(79, 114, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth4-frame9 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 252, 1);
}
.teacher-profile-interviews-depth5-frame08 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_iafcmqlodb-ulmd-200h.png");
}
.teacher-profile-interviews-depth5-frame17 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teacher-profile-interviews-depth6-frame09 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.teacher-profile-interviews-text34 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teacher-profile-interviews-depth6-frame18 {
  width: 202px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teacher-profile-interviews-text35 {
  color: rgba(79, 114, 150, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
