.teachers-profileapplications-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.teachers-profileapplications-teachers-profileapplications {
  width: 1430px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #f7f9fb;
}
.teachers-dashboard-frames{
  margin-left: 30px;
}
.teachers-profileapplications-frame {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-profileapplications-main-frame {
  gap: 4px;
  display: flex;
  padding: 20px 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  margin-top: 5em;
}
.teachers-profileapplications-frames1 {
  height: 760px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-profileapplications-framelevel2 {
  gap: 16px;
  width: 304px;
  height: 597px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-profileapplications-rectangle {
  width: 42px;
  height: 42px;
  border-radius: 26px;
}
.teachers-profileapplications-depth6-frame010 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-depth7-frame01 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-text10 {
  color: rgba(24, 24, 24, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth7-frame11 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-text11 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth6-frame11 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-depth7-frame02 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.teachers-profileapplications-depth8-frame01 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-text12 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth7-frame12 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.teachers-profileapplications-depth8-frame02 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-text13 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth7-frame2 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-profileapplications-depth8-frame03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-text14 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth7-frame3 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.teachers-profileapplications-depth8-frame04 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-text15 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth7-frame4 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.teachers-profileapplications-depth8-frame05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-text16 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth7-frame5 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.teachers-profileapplications-depth8-frame06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-text17 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth6-frame011 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.teachers-profileapplications-depth7-frame03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-depth8-frame07 {
  width: 24px;
  height: 24px;
  flex-grow: 1;
}
.teachers-profileapplications-depth7-frame13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-text18 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-frames2 {
  width: 960px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-profileapplications-depth4-frame0 {
  gap: 12px;
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.teachers-profileapplications-depth5-frame01 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-depth6-frame012 {
  width: 288px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-profileapplications-text19 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth6-frame12 {
  width: 288px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-profileapplications-text20 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth4-frame1 {
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-depth5-frame02 {
  height: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-profileapplications-depth6-frame013 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 12px;
}
.teachers-profileapplications-depth7-frame04 {
  display: flex;
  padding: 0 0 0 16px;
  align-self: stretch;
  align-items: center;
  border-radius: 12px 0 0 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-profileapplications-depth8-frame08 {
  width: 24px;
  height: 24px;
  flex-grow: 1;
}
.teachers-profileapplications-depth7-frame14 {
  display: flex;
  padding: 8px 16px 8px 8px;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-radius: 0 12px 12px 0;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-profileapplications-text21 {
  color: rgba(79, 122, 147, 1);
  width: 166px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth4-frame2 {
  gap: 12px;
  display: flex;
  padding: 12px 16px 12px 12px;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.teachers-profileapplications-depth5-frame03 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-profileapplications-depth6-frame014 {
  width: 102px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-profileapplications-text22 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth5-frame11 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-profileapplications-depth6-frame015 {
  width: 75px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.slider1{
  height: 400px;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.slider1 {
  scrollbar-color: blue lightgray; /* scrollbar-thumb and scrollbar-track colors */
  scrollbar-width: thin; /* Thin scrollbar */
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
.slider1::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
}

.slider1::-webkit-scrollbar-track {
  background: lightgray; /* Scrollbar track color */
}

.slider1::-webkit-scrollbar-thumb {
  background: blue; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded scrollbar thumb */
}

.slider1::-webkit-scrollbar-thumb:hover {
  background: darkblue; /* Thumb color on hover */
}
.teachers-profileapplications-text23 {
  color: rgba(12, 22, 28, 1);
  width: 100px;
  height: auto;
  font-size: 14px;
  align-self: stretch;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth5-frame2 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-profileapplications-depth6-frame016 {
  width: 49px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-profileapplications-text24 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth5-frame3 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-profileapplications-depth6-frame017 {
  width: 59px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-profileapplications-text25 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth5-frame4 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-profileapplications-depth6-frame018 {
  width: 73px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-profileapplications-text26 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth4-frame3 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-profileapplications-depth5-frame04 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_ymkdabiy_w-cvzd-200h.png");
}
.teachers-profileapplications-depth5-frame12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teachers-profileapplications-depth6-frame019 {
  width: 283px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-profileapplications-text27 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth6-frame13 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-text28 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth4-frame4 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-profileapplications-depth5-frame05 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_l1enxgv2v0-r97-200h.png");
}
.teachers-profileapplications-depth5-frame13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teachers-profileapplications-depth6-frame020 {
  width: 283px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-profileapplications-text29 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth6-frame14 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-text30 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth4-frame5 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-profileapplications-depth5-frame06 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_vtetvu-cp8-kilf-200h.png");
}
.teachers-profileapplications-depth5-frame14 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teachers-profileapplications-depth6-frame021 {
  width: 283px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-profileapplications-text31 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-profileapplications-depth6-frame15 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-profileapplications-text32 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
