.teacherlogin-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.teacherlogin-teacherlogin {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(247, 249, 251, 1);
}
.teacherlogin-rectangle1 {
  top: 198px;
  left: 389px;
  width: 662px;
  height: 649px;
  position: absolute;
  box-sizing: content-box;
  border-radius: 30px;
}
.teacherlogin-inputlabels {
  top: 453px;
  left: 459px;
  width: 274px;
  height: 169px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.teacherlogin-text1 {
  top: 87px;
  left: 19px;
  color: rgba(0, 0, 0, 0.5);
  width: 128px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherlogin-text2 {
  top: 144px;
  color: rgba(255, 3, 3, 1);
  width: 274px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherlogin-text3 {
  left: 19px;
  color: rgba(0, 0, 0, 0.5);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherlogin-loginbtn {
  top: 673.4021606445312px;
  left: 455.20001220703125px;
  width: 532.2838134765625px;
  height: 66.69203186035156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(2, 117, 177, 1);
}
.teacherlogin-text4 {
  top: 17.59783935546875px;
  left: 226.79998779296875px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherlogin-inputboxes {
  top: 435px;
  left: 459px;
  width: 532.2838134765625px;
  height: 197px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.teacherlogin-rectangle4 {
  top: 87px;
  left: 0px;
  width: 532px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.teacherlogin-rectangle2 {
  top: 0px;
  left: 0px;
  width: 532px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.teacherlogin-line5 {
  top: 197px;
  left: 3px;
  width: 250px;
  height: 1px;
  position: absolute;
}
.teacherlogin-teacher-loginmain {
  top: 267px;
  left: 542px;
  width: 366px;
  height: 99px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.teacherlogin-text5 {
  top: 75px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  width: 267px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherlogin-text6 {
  color: rgba(2, 117, 177, 1);
  width: 366px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherlogin-teachers-cabal-logog1 {
  top: 46px;
  left: 631px;
  width: 178px;
  height: 84px;
  position: absolute;
}
.teacherlogin-footer {
  top: 771px;
  left: 572px;
  width: 329px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.teacherlogin-text7 {
  color: rgba(0, 0, 0, 1);
  width: 329px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teacherlogin-text8 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
}
.teacherlogin-line4 {
  top: 26px;
  left: 210px;
  width: 70px;
  height: 1px;
  position: absolute;
}
