.teachers-dashboardschools-container {
  width: 1430px;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-teachers-dashboardschools {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.teachers-dashboardschools-frame {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-dashboardschools-depth1-frame0 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-depth2-frame0 {
  gap: 4px;
  display: flex;
  padding: 20px 24px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.teachers-dashboardschools-frames {
  height: 650px;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-dashboardschools-framelevel2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-rectangle {
  width: 42px;
  height: 42px;
  border-radius: 26px;
}
.teachers-dashboardschools-depth6-frame010 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-depth7-frame010 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-text10 {
  color: rgba(24, 24, 24, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth7-frame110 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-text11 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth6-frame110 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-depth7-frame011 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}
.teachers-dashboardschools-depth7-frame011:hover, 
.teachers-dashboardschools-depth7-frame011:focus{
  background-color: rgba(232, 237, 242, 1);
  border-radius: 10px;
}
.teachers-dashboardschools-depth8-frame01 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-text12 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth7-frame2 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  cursor: pointer;
}
.teachers-dashboardschools-depth7-frame2:hover, 
.teachers-dashboardschools-depth7-frame2:focus, .active {
  background-color: rgba(232, 237, 242, 1);
  border-radius: 10px;
}
.teachers-dashboardschools-depth8-frame02 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-text13 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth7-frame3 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}
.teachers-dashboardschools-depth7-frame3:hover, 
.teachers-dashboardschools-depth7-frame3:focus, .active {
  background-color: rgba(232, 237, 242, 1);
  border-radius: 10px;
}
.teachers-dashboardschools-depth8-frame03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-text14 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth7-frame7 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}
.teachers-dashboardschools-depth7-frame7:hover, 
.teachers-dashboardschools-depth7-frame7:focus{
  background-color: rgba(232, 237, 242, 1);
  border-radius: 10px;
}
.teachers-dashboardschools-depth8-frame04 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-text15 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth7-frame4 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}
.teachers-dashboardschools-depth7-frame4:hover, 
.teachers-dashboardschools-depth7-frame4:focus {
  background-color: rgba(232, 237, 242, 1);
  border-radius: 10px;
}
.teachers-dashboardschools-depth8-frame05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-text16 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth7-frame5 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}
.teachers-dashboardschools-depth7-frame5:hover, 
.teachers-dashboardschools-depth7-frame5:focus{
  background-color: rgba(232, 237, 242, 1);
  border-radius: 10px;
}
.teachers-dashboardschools-depth8-frame06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-text17 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth6-frame011 {
  gap: 12px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.teachers-dashboardschools-depth7-frame012 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-depth8-frame07 {
  width: 24px;
  height: 24px;
  flex-grow: 1;
}
.teachers-dashboardschools-depth7-frame111 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-text18 {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth3-frame0 {
  width: 320px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  height: 650px;
}
.slider{
  height: 650px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.slider-explore{
  height: 650px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
}
.teachers-dashboardschools-depth4-frame01 {
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-depth5-frame010 {
  height: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-depth6-frame012 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 12px;
}
.teachers-dashboardschools-depth7-frame013 {
  display: flex;
  padding: 0 0 0 16px;
  align-self: stretch;
  align-items: center;
  border-radius: 12px 0 0 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth8-frame08 {
  width: 24px;
  height: 24px;
  flex-grow: 1;
}
.teachers-dashboardschools-depth7-frame112 {
  display: flex;
  padding: 8px 16px 8px 8px;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-radius: 0 12px 12px 0;
  background-color: rgba(232, 237, 242, 1);
}

.teachers-dashboardschools-depth4-frame11 {
  gap: 12px;
  display: flex;
  padding: 12px 16px 12px 12px;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.teachers-dashboardschools-depth5-frame011 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth6-frame013 {
  width: 76px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text20 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame110 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth6-frame014 {
  width: 100px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text21 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame21 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth6-frame015 {
  width: 81px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text22 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame31 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth6-frame016 {
  width: 66px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text23 {
  color: rgba(12, 22, 28, 1);
  width: 86px;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame41 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth6-frame017 {
  width: 120px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text24 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth4-frame21 {
  gap: 12px;
  display: flex;
  padding: 12px 16px 12px 12px;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.teachers-dashboardschools-depth5-frame012 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth6-frame018 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-text25 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth6-frame111 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-depth7-frame014 {
  width: 20px;
  height: 20px;
  flex-grow: 1;
}
.teachers-dashboardschools-depth5-frame111 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth6-frame019 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-text26 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth6-frame112 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-depth7-frame015 {
  width: 20px;
  height: 20px;
  flex-grow: 1;
}
.teachers-dashboardschools-depth5-frame22 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth6-frame020 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-text27 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth6-frame113 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-depth7-frame016 {
  width: 20px;
  height: 20px;
  flex-grow: 1;
}
.teachers-dashboardschools-depth5-frame32 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth6-frame021 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-text28 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth6-frame114 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-depth7-frame017 {
  width: 20px;
  height: 20px;
  flex-grow: 1;
}
.teachers-dashboardschools-depth5-frame42 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth6-frame022 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-text29 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth6-frame115 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-depth7-frame018 {
  width: 20px;
  height: 20px;
  flex-grow: 1;
}
.teachers-dashboardschools-depth4-frame31 {
  gap: 12px;
  display: flex;
  padding: 12px 16px 12px 12px;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.teachers-dashboardschools-depth5-frame013 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth6-frame023 {
  width: 64px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text30 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  width: 70px;
  align-self: stretch;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame112 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth6-frame024 {
  width: 82px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text31 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  width: 100px;
  font-size: 14px;
  align-self: stretch;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame23 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth6-frame025 {
  width: 56px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text32 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame33 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth6-frame026 {
  width: 56px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text33 {
  color: rgba(12, 22, 28, 1);
  width: 73px;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame43 {
  gap: 8px;
  height: 32px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth6-frame027 {
  width: 54px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text34 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth4-frame41 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-dashboardschools-depth5-frame014 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.teachers-dashboardschools-depth6-frame028 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_1uvbyv569s-issm-200h.png");
}
.teachers-dashboardschools-depth6-frame116 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teachers-dashboardschools-depth7-frame019 {
  width: 88px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text35 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth7-frame113 {
  width: 88px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text36 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame113 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-depth6-frame029 {
  height: 32px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth7-frame020 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-text37 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth4-frame51 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-dashboardschools-depth5-frame015 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.teachers-dashboardschools-depth6-frame030 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_tcsbpnhxq1-5tp4-200h.png");
}
.teachers-dashboardschools-depth6-frame117 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teachers-dashboardschools-depth7-frame021 {
  width: 88px;
  height: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text38 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth7-frame114 {
  width: 88px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text39 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame114 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-depth6-frame031 {
  height: 32px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth7-frame022 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-text40 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth4-frame61 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-dashboardschools-depth5-frame016 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.teachers-dashboardschools-depth6-frame032 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_vsxavga6fu-c8idn-200h.png");
}
.teachers-dashboardschools-depth6-frame118 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teachers-dashboardschools-depth7-frame023 {
  width: 88px;
  height: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text41 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth7-frame115 {
  width: 88px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text42 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame115 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-depth6-frame033 {
  height: 32px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth7-frame024 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-text43 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth4-frame7 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-dashboardschools-depth5-frame017 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.teachers-dashboardschools-depth6-frame034 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_luvpo2k-ix-fx5a-200h.png");
}
.teachers-dashboardschools-depth6-frame119 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teachers-dashboardschools-depth7-frame025 {
  width: 88px;
  height: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text44 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth7-frame116 {
  width: 88px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text45 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame116 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-depth6-frame035 {
  height: 32px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth7-frame026 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-text46 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth4-frame8 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-dashboardschools-depth5-frame018 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.teachers-dashboardschools-depth6-frame036 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_pavsubd2_h-och-200h.png");
}
.teachers-dashboardschools-depth6-frame120 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teachers-dashboardschools-depth7-frame027 {
  width: 88px;
  height: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text47 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth7-frame117 {
  width: 88px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text48 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame117 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-depth6-frame037 {
  height: 32px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth7-frame028 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-text49 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth3-frame1 {
  width: 744px;
  height: 650px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-depth4-frame02 {
  gap: 12px;
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.teachers-dashboardschools-depth5-frame019 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-depth6-frame038 {
  width: 481px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text50 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 36px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: 45px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth6-frame121 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-text51 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth4-frame12 {
  display: flex;
  padding: 20px 16px 12px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-text52 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth4-frame22 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-dashboardschools-depth5-frame020 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.teachers-dashboardschools-depth6-frame039 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_hr7r5haua2-ac4t-200h.png");
}
.teachers-dashboardschools-depth6-frame122 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teachers-dashboardschools-depth7-frame029 {
  width: 92px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text53 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth7-frame118 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-text54 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame118 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-depth6-frame040 {
  height: 32px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth7-frame030 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-text55 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth4-frame32 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-dashboardschools-depth5-frame021 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.teachers-dashboardschools-depth6-frame041 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_yydqeb4a3k-hycj-200h.png");
}
.teachers-dashboardschools-depth6-frame123 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teachers-dashboardschools-depth7-frame031 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-text56 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth7-frame119 {
  width: 135px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text57 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame119 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-depth6-frame042 {
  height: 32px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth7-frame032 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-text58 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth4-frame42 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-dashboardschools-depth5-frame022 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.teachers-dashboardschools-depth6-frame043 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_tr0uwk20up-xumh-200h.png");
}
.teachers-dashboardschools-depth6-frame124 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teachers-dashboardschools-depth7-frame033 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-text59 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth7-frame120 {
  width: 168px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text60 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame120 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-depth6-frame044 {
  height: 32px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth7-frame034 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-text61 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth4-frame52 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-dashboardschools-depth5-frame023 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.teachers-dashboardschools-depth6-frame045 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_bgrnxxbful-pqq-200h.png");
}
.teachers-dashboardschools-depth6-frame125 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teachers-dashboardschools-depth7-frame035 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-text62 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth7-frame121 {
  width: 173px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text63 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame121 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-depth6-frame046 {
  height: 32px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth7-frame036 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-text64 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth4-frame62 {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(247, 249, 249, 1);
}
.teachers-dashboardschools-depth5-frame024 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.teachers-dashboardschools-depth6-frame047 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_ldemow--eb-7ukq-200h.png");
}
.teachers-dashboardschools-depth6-frame126 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teachers-dashboardschools-depth7-frame037 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-text65 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth7-frame122 {
  width: 190px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.teachers-dashboardschools-text66 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.teachers-dashboardschools-depth5-frame122 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.teachers-dashboardschools-depth6-frame048 {
  height: 32px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 237, 242, 1);
}
.teachers-dashboardschools-depth7-frame038 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.teachers-dashboardschools-text67 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
